@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffffff;
  background: black;
  font-family: 'Rubik', sans-serif;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer components {
  .nav-items {
    @apply hover:text-blue-600 hover:border-b-2 hover:border-blue-600 text-xl cursor-pointer;
    /* @apply before:w-full before:h-80 before:bg-red-400 before:left-0 before:-bottom-5 before:rounded-b-lg */
  }
}

/* typing effect */
.typing-effect {
  text-align: center;
  margin-top: 2rem;
}

.animate-typing {
  animation: typing 1s steps(12), blink-caret 0.75s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  display: inline-block;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

.cursor-blink::after {
  content: '|';
  animation: blink-caret 0.75s step-end infinite;
}
